/*inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_text */

.dropbtn {
  background-color:#d9ecf2;
  color: #ff414d;
  padding: 14px;
  font-size: 20px;
  border: none;
  width: 28vh;
}

.dropdown-age, .dropdown-location, .dropdown-sorting {
  position: relative;
  display: inline-block;
  margin: 0px 10px;
  border-bottom: 3px #ff414d solid;
  
}
.dropdown-age, .dropdown-location, .dropdown-sorting:hover{
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f56a79;
  min-width: 28vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #d9ecf2;
}

.dropdown-age:hover .dropdownContent, .dropdown-location:hover .dropdownContent, .dropdown-sorting:hover .dropdownContent   {
  display: block;
}

.dropdown-age:hover .dropButton {
  background-color: #d9ecf2;
}