
.addButton{
    margin: 2em 1em;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #50a2ac;
    background-position: 10px 10px; 
    padding: 20px 40px;
    box-shadow: 3px 4px 2px #1a1d1a62;
    border-radius: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    position: fixed;
    border-style: none;
}
  .addButton:hover{
    cursor: pointer;
    opacity: 0.7;
  }

 .popup-wrapper {
   background-color: cadetblue;
   width: 40%;
   height: 20%;
   margin: auto;
 }
  