.form-popup { 
    background-color: #50a2ac;
    border: 3px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 20px 30px #888888;
    padding: 30px;
    position: fixed;
    right: 16em;
    top: 2em;
  }

  .form-popup input[type=text], .form-popup input[type=number]{
    width: 40vh;
    padding: 10px;
    margin: 20px 0px 20px 10px;
    border: 1px solid #888888;
    background: #f1f1f1;
    width: 23em;
    border-radius: 100px;
  }
  .submit-form-btn {
    padding: 10px;
    margin: 20px 0;
    width: 20vh;
    border-radius: 100px;
    box-shadow: 3px 4px 2px #1a1d1a38;
    border-style: none;

  }

  .submit-form-btn:hover{
    cursor: pointer;
    opacity: 0.8;
  }



  