.form-popup { 
    border: 3px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 8px #888888;
    padding: 30px;
  }

  .form-popup input[type=text], .form-popup input[type=number]{
    width: 40vh;
    padding: 10px;
    margin: 20px 0px 20px 10px;
    border: 1px solid #888888;
    background: #f1f1f1;
  }
  .submit-form-btn {
    padding: 10px;
    margin: 20px 0;
    width: 20vh;
  }



  