.modal-component{
  width: 20vh;
  height: auto;

}
.form-popup { 
    background-color: #50a2ac;
    border: 3px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 40px 30px #4d4d4d;
    padding: 1em;
    position: fixed;
    right: 1em;
    top: 1em;
  
  }

  .form-popup input[type=text]{
    width: 30vh;
    padding: 0.5em;
    margin: 1em 0px 1em 10px;
    border: 1px solid #888888;
    background: #f1f1f1;
    width: 15em;
    border-radius: 10px;

  }

  .select {
    width: 27vh;
    padding: 0.5em;
    margin: 1em 0px 1em 10px;
    border: 1px solid #888888;
    background: #f1f1f1;
    border-radius: 10px;
  }



  .form-popup input[type=number]{
    margin: auto;
    width: 30vh;
    padding: 0.5em;
    margin: 1em 0px 1em 10px;
    border: 1px solid #888888;
    background: #f1f1f1;
    width: 15em;
    border-radius: 10px;
  }

  .submit-form-btn {
    padding: 10px;
    margin: 20px 0;
    width: 20vh;
    border-radius: 100px;
    box-shadow: 3px 4px 2px #1a1d1a38;
    border-style: none;

  }

  .submit-form-btn:hover{
    cursor: pointer;
    opacity: 0.8;
  }



  