/*inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_text */

.dropbtn {
  background-color:#282c34;
  color: #ce8e46;
  padding: 14px;
  font-size: 20px;
  border: none;
  width: 28vh;
}

.dropdown-age, .dropdown-location, .dropdown-sorting {
  position: relative;
  display: inline-block;
  margin: 0px 10px;
  border-bottom: 3px #ce8e46 solid;
}
/*
.dropdown {
  background-color: #ce8e46;
  color: white;
  padding: 0.8em 2em 0.8em 2em;
  margin: 0.2em 0.2em 0.2em 0em;
  font-size: 16px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}*/

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #d2d3c9;
  min-width: 28vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown-age:hover .dropdownContent, .dropdown-location:hover .dropdownContent, .dropdown-sorting:hover .dropdownContent   {
  display: block;
}

.dropdown-age:hover .dropButton {
  background-color: #ce8f469f;
}