/*inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_text */

.dropdown {
}
.dropButton {

    background-color: #ce8e46;
    color: white;
    padding: 0.8em 2em 0.8em 2em;
    margin: 0.2em 0.2em 0.2em 0em;

    font-size: 16px;
    border: none;
  
  }
  
  .dropButton {
    position: relative;
    display: inline-block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  
  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownContent a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdownContent {display: block;}
  
  .dropdown:hover .dropButton {background-color: #ce8f469f;}