/*inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_text */


.search{
  border-radius: 100px;
  font-size: 16px;
  text-align: center;
   width:50vw;
   height: 5vh;
   border-width: thin;
   margin-bottom: 3em;
}

.search:focus{
  outline:none;
}

.search-button {
  font-size: 16px;
  background-color: #ffffff;
  padding: 10px 16px;
  color: black;
  margin-left: 1em;
  border-style: none;
  box-shadow: 2px 3px 2px #1a1d1a11;

}
.search-button:hover{
  cursor: pointer;
}

.dropbtn {
  background-color:#d9ecf2;
  color: #c2575e;
  padding: 14px;
  font-size: 20px;
  border: none;
  width: 40vh;
}

.dropdown-age, .dropdown-location, .dropdown-sorting {
  position: relative;
  display: inline-block;
  margin: 0px 10px;
  border-bottom: 3px #c2575e solid;
  
}
.dropdown-age, .dropdown-location, .dropdown-sorting:hover{
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #c2575e;
  min-width: 40vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #d8979cbb;
}

.dropdown-age:hover .dropdownContent, .dropdown-location:hover .dropdownContent, .dropdown-sorting:hover .dropdownContent   {
  display: block;
}

.age {
  padding: 0.15em;
  margin: 0.5em;

}

.age-label{
 color: #c2575e;
 font-size: 20px;

}
.age-button {
  font-size: 16px;
  background-color: #c2575e;
  background-position: 10px 10px; 
  padding: 5px 10px;
  box-shadow: 2px 3px 2px #1a1d1a27;
  border-radius: 100px;
  border-style: none;
  color: white;
}
.age-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.navigationButton{
  font-size: 1.2em;
  padding: 20px 10px;
  border-style: none;
  color: rgba(0, 0, 0, 0.87);
  text-decoration-line: underline;
  float: center;
}
.navigationButton:hover{
  cursor: pointer;
}
