/*inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_text */
.search-field{
  font-size: 0.6em;
  color: rgba(32, 32, 32, 0.966);
  margin: 2em auto;
  padding: 1.2rem 1.2rem;
  border-radius: 0.2rem;
  background-color: rgb(253, 253, 253);
  border: none;
  width: 45%;
  border-bottom: 0.3rem solid transparent;
  height:0.5em;
  box-shadow: 2px 3px 8px #1a1d1a11;
  opacity:0.8;
}
.search-field:focus{
  outline:none;
  opacity:1;
  box-shadow: 2px 3px 8px #05050523;
}
.dropbtn {
  background-color: #b4d3dd;
  color: #c2575e;
  padding: 0.5em;
  font-size: 1.8vw;
  border: none;
  width: 20vw;
}
.dropdown-age, .dropdown-location, .dropdown-sorting {
  position: relative;
  display: inline-block;
  margin: 0px 10px;
  border-bottom: 3px #c2575e solid;  
}
.dropdown-age, .dropdown-location, .dropdown-sorting:hover{
  cursor: pointer;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #c2575e;
  width: 20vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdownContent a {
  color: black;
  padding: 0.5em 0.5em;
  text-decoration: none;
  display: block;
  font-size: 1.5vw;
}
.dropdownContent a:hover {
  background-color: #d8979cbb;
}
.dropdown-age:hover .dropdownContent, .dropdown-location:hover .dropdownContent, .dropdown-sorting:hover .dropdownContent   {
  display: block;
}
.age {
    margin: 0.5vw;
    height: 2vw;
}
.age-label{
 color: #c2575e;
 font-size: 1.8vw;
 width: 3vw;
}
.age-button {
  font-size: 0.7em;
  background-color: #c2575e;
  background-position: 10px 10px; 
  box-shadow: 2px 3px 2px #1a1d1a27;
  border-radius: 100px;
  border-style: none;
  color: white;
}
.age-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.navigationButton{
  font-size: 1.2em;
  padding: 20px 10px;
  border-style: none;
  color: rgba(0, 0, 0, 0.87);
  text-decoration-line: underline;
  float: center;
  margin-bottom: 4em;
}
.navigationButton:hover{
  cursor: pointer;
}
.personBox{
  margin: auto;
  text-align: center;
}