.popUp { 
    background-color: #50a2ac;
    border: 3px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 40px 30px #4d4d4d;
    padding: 30px;
    position: fixed;
    top: 15%;
    left: 35%;
    justify-content: center;
    margin: auto;
}

.bio{
    font-weight: bolder;
}

.closeBtn{
    float: right;
    top: 0;
    right: 0;
    position: absolute;
    opacity: 0.3;
}
  
.closeBtn:hover{
    opacity: 1;
}