.addButton{
    margin: 2em 2em 2em 2em;
    box-sizing: border-box;
    border: 2px solid #0e918c;
    font-size: 16px;
    background-color: #0e918c;
    background-position: 10px 10px; 
    padding: 20px 40px 20px 40px;
    box-shadow: 1px 1px 2px #1a1d1a;
    border-radius: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
  
}
  .addButton:hover{
    cursor: pointer;
    opacity: 0.7;
  }
  
  