
  .search{
  padding: 12px 20px 12px 20px;
  width: 50vh; 
  border: 2px solid white;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  
  }
  .search_button{
  margin-left:10px;
  box-sizing: border-box;
  border: 2px solid #d2d3c9;
  font-size: 16px;
  background-color: #d2d3c9;
  background-position: 10px 10px; 
  padding: 10px 20px 10px 20px;
  box-shadow: 1px 1px 2px #1a1b1d;
  border-radius: 100px;

  }

  .search_button:hover{
    cursor: pointer;
    opacity: 0.7;
  }