  .search{
    border-radius: 100px;
    font-size: 16px;
    margin-left: 20%;
    text-align: center;
     width:50vw;
     height: 5vh;
     border-width: thin;

  }
  .search:focus{
    outline:none;
  }
  

