.header { grid-area: header; }
.filter { grid-area: filter; }
.output {grid-area: output; }
.addPerson {grid-area: addPerson; }


body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #d9ecf2;
  


  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid; 
  grid-gap: 0px;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "header header "
                        "filter filter"
                        "filter filter"
                        "output output "
                        "addPerson addPerson";

  grid-template-rows: 20% 10% 10% 60%;  
  font-size: calc(10px + 2vmin);
  padding: 10px;
}

.grid-child {
  text-align: center;
  margin: 20px 10px;
  padding: 0;
  background-color: #d9ecf2;
}


p, h1, h2, h3{
  color: white;
}

.filter{
  margin: auto;
  text-align: center;
  width: 100%;

}

.output{
  margin: auto;
  text-align: center;
}
  

.header{
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .grid-container{
    grid-template-areas:
      'header'
      'filter'
      'output'
  }
}
